.bannar {
    background-image: url(../../images/bannar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgb(122, 115, 113);
}

.headding {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 60px;
}

.make-context {
    color: #c3f0ca;
}

.bannarText {
    color: rgb(231, 231, 222);
    font-weight: 400;
    padding-top: 15px;
}

.bannarBtn {
    background-color: rgba(255, 255, 0, 0);
    color: wheat;
    font-size: 20px;
    border: 2px solid rgb(255, 255, 255);
}

.bannarBtn:hover {
    background-color: #F63E7B;
}