.bg-feature {
    background-color: #faeee7;
    position: relative;
}

.text-feature {
    color: #33272a;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-feature::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 656px;
    background-color: blue;
    width: 200px;
    height: 1px;
}

.text-feature span {
    color: #232946;
}

.bg-feature-content {
    background-color: #33272a;
    color: #faeee7;
    padding: 30px 0;
    border: none;
    outline: none;
}

.bg-feature-content :hover {
    border: none;
    outline: none;
    border-radius: none;
    background-color: 0;
}

.img-feature {
    width: 300px;
}

.price {
    font-size: 14px !important;
    font-weight: normal;
    color: #1d8e24;
}

.content-text {
    font-size: 14px !important;
    margin-top: 20px;
    color: #e7ecfa;
    line-height: 22px;
}